%div.container 
	%ul.nav.nav-pills
		%li 
			%a{:href => "/sender"} 
				%span.glyphicon.glyphicon-send
				Mailing
		%li.first 
			%a{:href => "/templates"} 
				%span.glyphicon.glyphicon-th-large
				Templates
		%li
			%a{:href => "/lists"} 
				%span.glyphicon.glyphicon-envelope
				Mail Lists
		%li 
			%a{:href => "/subscribes"} 
				%span.glyphicon.glyphicon-list-alt
				Subscribes
		/ %li
		/ 	%a{:href => "/reports"}  
		/ 		%span.glyphicon.glyphicon-share-alt
		/ 		Reports
		/ %li.last
		/ 	%a{:href => "/settings"}
		/ 		%span.glyphicon.glyphicon-cog
		/ 		Settings
