%div.category
	%h1 Adding new User

	%form{:role=>"form"}
  		%div.form-group
    		%label{:for="inputName1"}New User's name
    		%input#inputName1.form-control{:type=>"text", :placeholder=>"User's name"}